<html>
    <head>
        <title>mio</title>
    </head>
    <body>
        <h1>
            aqui esta unalista
        </h1>
        <ul>
            {% for datos in listaDatos%}
                <li>{{datos.nombre}} </li>
            {% endfor %}
        </ul>
        <h2>CREANDO DATOS</h2>
        <form method="POST">
            {% csrf_token %}
            <input id="nombre" name="nombre" type="text" placeholder="nombre">
            <input id="apellido" name="apellido" type="text" placeholder="apellido">
            <input type="submit">
            <br>
            <br>
            <textarea style="width: 100%; height: 100px">{{result}}</textarea>

        </form>




    </body>
</html>